:8080

## (Optional) Proxy to your cloud image host, if you have one
@assets {
 	path /cache/*
 	path /accounts/*
 	path /media_attachments/*
 }
 reverse_proxy @assets https://starcitizen-social-bucket.fra1.digitaloceanspaces.com {
   header_up Host "starcitizen-social-bucket"
 }

reverse_proxy :3000
reverse_proxy /api/v1/streaming/* :4000
